[project]
name = "quality"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pylint>=4.0.4",
    "pytest>=9.0.2",
]

[dependency-groups]
dev = [
    "ipykernel>=7.2.0",
]
